@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-light-gray: #F1F1F1;
  --color-space-gray: #939393;
  --color-light-black: #272727;
  --color-spooky-black: #161616;
  --color-ms-main: #605DFF;
  --color-ms-light: #B5B4FF;
  --color-ms-dark: #A6FFDA;
}