PORT=3010
HOST=0.0.0.0
BASE_URL=http://localhost:3010

# Database Configuration
# Use 'db' if running via Docker Compose, otherwise use '127.0.0.1'
DB_HOST=db
DB_PORT=3306
DB_USERNAME=mariadb
DB_PASSWORD=MakeASecurePassword999!
DATABASE=myshare
ALLOW_REGISTERING=true
JWT_SECRET=your_jwt_secret_key!!!!
