PORT=3010
HOST=0.0.0.0
BASE_URL=http://localhost:3010

# Public reverse proxy
# Set this to your domain in production, for example: myshare.example.com
APP_DOMAIN=:80
HTTP_PORT=80
HTTPS_PORT=443

# Database Configuration
# Use 'db' if running via Docker Compose, otherwise use '127.0.0.1'
DB_HOST=db
DB_PORT=3306
DB_USERNAME=mariadb
DB_PASSWORD=MakeASecurePassword999!
DB_ROOT_PASSWORD=change_this_root_password
DATABASE=myshare
ALLOW_REGISTERING=true
JWT_SECRET=your_jwt_secret_key!!!!
